*.yaml
!example-config.yaml
!.pre-commit-config.yaml

*.db*
*.log*

/matrix-line*
/start

/docs

/test

# Libs
*.dll
*.a
/vendor

# Test files
*.txt
*.json

# Executables
*.exe

# internal tools
/tools
